@CHARSET "ISO-8859-1";
* {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
/* fuentes */
@font-face {
    font-family: Magra;
    src: url(fonts/magra-Regular.ttf);
}
@font-face {
    font-family: opensans;
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: arimo;
    src: url(fonts/Arimo-Regular.ttf);
}

html{
	margin:0px;
	padding: 0px;
	width: 100%;
	height:100%;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
	height:100%;
	font-family: 'arimo', sans-serif !important;
	font-size:14px;
    }
input[type='number']{
	text-align:right;
}        

.subnav{
	padding: 2px 10px;
}
/*busquedas*/
.card-img-top{
	width:60%;
	margin: 0 auto;
}
.card-deck{
	width: 100%;
}
/* form input*/
.form-horizontal input[type='number']{
	text-align:right;
}    
/* controles imagen */
.imagen-div{
	width: 100px;
	margin: 0 auto;
}
.imagen-controles{
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    width: 100px;
    margin:0 auto;
    color: white;
    background-color: #007bff;
    opacity: 0;
    transition: opacity ease 400ms;
}    
.imagen-label{
	margin:0px !important;
}
#imagen-cargada{
	border: 1px solid #c2c2c2;
}
.imagen-controles:hover{
	opacity:1;
}
.imagen-div:hover .imagen-controles{
	opacity: 1;
}
.imagen-div img:hover .imagen-controles{
	opacity: 1;
}
.imagen-controles .fa {
    margin: 5px;
    cursor: pointer;
}
.imagen-controles-ocultos{
	display: none;
}
.imagen-controles-ocultos input[type="file"] {
    display: none;
}
/*cargando*/
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 99999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
}
.centrado{
    font-size: 14px;
    color: black;
    font-weight: 800;
    width: 200px;
    top: 50px;
    left: -300%;
    position: absolute;
    margin: 0 auto;
    display: block;
    background: white;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 12px;
  color: black;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}    