#pop {
   z-index:13;
   position:absolute;
   display: none;   
   border: 5px solid #550000;
   text-align:center;
   background:#000000;
   opacity: 1;
   border-radius: 10px;
}

#mapa {
   z-index:13;
   position:absolute;
   display: none;  
   border: 5px solid #550000;
   text-align:center;
   background:#000000;
   opacity: 1;
   overflow: hidden;
}
#popup_titulo{
    position: relative;
    display:block;
    width: 100%;
    height: 20px;
    background-color: #550000;
}
.cerrar {
   float:right;
   margin-right:5px;
   cursor:pointer;
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size:12px;
   font-weight:bold;
   color:#FFFFFF;
   
   width:12px;
   position:relative;
   margin-top:-1px;
   text-align:center;
   
}
#fondo {
    display:none;
    position:absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.8;
    top: 0px;
    left: 0px;
    z-index: 12;
    overflow: visible;
}
.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 95%;
  height: auto;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  padding: 10px;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
  margin-top: 10px;
}
.modal-box footer input{
    display: inline;
}

.modal-overlay {
  opacity: 5;
  filter: alpha(opacity=5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: #FFFFFF !important;
}

a.close {
  line-height: 1;
  font-size: 1em;
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: none;
  color: #222;
  background-color: #FFFFFF;
}

a.close:hover {
  color: #bbb;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}
@media (min-width: 32em) {
  .modal-box { width: 70%; height:auto; }
}
iframe {
    max-width: 100%;
    height: auto;
    width: auto; /*IE8 bug fix*/
    vertical-align: middle
}
